
body{
	margin:0;
	padding:0;	
	background:url('background.jpg');
}

.container
{

	background-color:#FFEB9B;
   
}


p{
    margin-top: 20px;
    
}
    

body{
    text-align: center;
    list-style-position: inside;
}

#done{
    margin-top: 50px;
    margin-bottom: 50px;
}
#disp{
    margin-top:15px;
}
h1{
    background-color: #FFB36A;
    padding: 10px;
    border-radius: 5px;
}

h3{
    margin-top:15px ;
    background-color: #E0FFFF;
    padding: 10px;
}

.instrukcja{
    background-color: #74B1BC;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.pytanie{
    background-color: #6BA7B2;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}

li{
    font-size: 18px;
}

.infodp{
    font-weight: bold;
}

button
{
	color: white;
	background-color: #51ACBD;
	margin: 7px;
	width: 100px;
	height: 50px;
    border: 0px ;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}

#done{
    color: white;
	background-color: #FFB36A;
	margin: 7px;
	width: 300px;
	height: 55px;
	margin-bottom:20px;
    margin-top: 20px;
    border-radius: 40px;
}


#disp{
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


input[type=radio] {
    border: 0px;
    width: 50px;
    height: 20px;
    
}



#button_table
{
    width: 300px;
    background-color: green;

}

#result_table
{
    border: 5px solid orange;
    border-collapse: collapse;
    margin-left: 20px;
    margin-right: 20px;
    background-color: lightyellow;
    font-size: 20px;
    text-align:unset;
    display:block;
}

#tabela_punkty
{
    background-color: white;
    margin-left: 730px;
    font-size: 23px;
    display:block;
}

td, th
{
    border: 3px solid orange;
    border-collapse: collapse;
}

p
{
font-size: 20px;
}



